#### 1.User - Defined Function (05Que)

#### 1.What a function to calculate the factorial of a number (without recursion)

In [3]:
num = 5
def factorial(n):
    fact = 1 
    for i in range(1, n + 1):
        fact *= i
    return fact 
print("factorial of",num,"is:",factorial(num))

factorial of 5 is: 120

#### 2.Write a function to cheak if a number is Armstrong or not

In [37]:
n = 10
def is_armstrong(number):
    num_str = str(number)
    num_digits =len(num_str)
    sum_of_powers = 0
    for digits in num_str:
        sum_of_powers += int(digits)** num_digits
        
    if sum_of_powers == number:
         return True
    else:
        return False
if is_armstrong(n):
        print(n,"is an Armstrong number")
else:
  print(n, "is not an Armstrong number")

10 is not an Armstrong number

#### 3.Write a function that takes a list of numbers and returns only even numbers

In [41]:
my_list = [1,2,3,4,5,6,7,8]

def get_even_numbers(numbers):
    even_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers
print("Even number are:", get_even_numbers(my_list))

Even number are: [2, 4, 6, 8]

#### 4.Write a function that takes a string and returns the reverse of the string

In [44]:
my_string = "piyush"

def reverse_string(s):
    reversed_s = s[::-1]
    return reversed_s
print("Original String:",my_string)
print("Reversed String:", reverse_string(my_string))

Original String: piyush
Reversed String: hsuyip

#### 5.Write a recursive function to calculate Fibonacci series up to n terms

In [45]:
# Recursive function
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Fibonacci series function
def fibonacci_series(n_terms):
    series = []
    for i in range(n_terms):
        series.append(fibonacci(i))
    return series


n_terms = 10
print("Fibonacci series up to", n_terms, "terms:")
print(fibonacci_series(n_terms))

Fibonacci series up to 10 terms:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 2. lambda Function (05QUE)

#### 6.Write a lambda function to find the maximum to two numbers.

In [8]:
max_num = lambda a, b: a if a > b else b


print(max_num(10, 20)) 
print(max_num(50, 15))

20
50

#### 7. Write a lambda function to count vowels in a given string.

In [12]:
text = "Hellow piyush"
count_vowels = lambda s: sum(1 for ch in s.lower() if ch in "aeiou")

print ( "vowels",count_vowels(text))

vowels 4

In [13]:
count_vowels = lambda s: sum(1 for ch in s.lower() if ch in "aeiou")

print (count_vowels("Hellow piyush"))

4

#### 8.Use a lambda with map() to convert a list of integers into their cubes.

In [16]:
numbers = [1,2,3,4,5]

list(map(lambda x : x**3,numbers))

[1, 8, 27, 64, 125]

#### 9. use a lambda with fiter() to find numbers divisible by 5 from a list

In [21]:
numbers =[8,11,34,10,15,22,34,20,25,]

list(filter(lambda x: x % 5 == 0, numbers))

[10, 15, 20, 25]

#### 10. Use a reduce() with lambda to find the product of all numbers in a list

In [26]:
from functools import reduce
numbers = [2,3,4,5]

reduce (lambda x,y: x * y , numbers)

120

#### 3. List Compreshension (05QUE)

#### 11. Create a list of square of numbers from 1 to 20 using list Comprehension

In [29]:
square = [i ** 2 for i in range (1,21)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

#### 12. Extract all words starting with vowels from a list of words.

In [6]:
words = ["apple", "banana","orange","grapes","numbrela","piyush"]
vowels ="aeiou"

result =[ word for word in words if word[0].lower() in vowels]
print("Words starting with vowels",result)

Words starting with vowels ['apple', 'orange']

#### 13.Generate a list of tuple (x,x^2) for number from 1 to 10

In [7]:
x = [(1,1),(2,4),(3,9),(4,16),(5,25),(6,36),(7,49),(8,64),(9,81),(10,100)]

result = [(x,x**2) for x in range(1,11)]
print(result)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#### 14. Flatten a 2D list using list comprehension .

In [12]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened = []
for row in my_list:
    for item in row:
        flattened.append(item)

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 15. Create a list of prime number between 1 and 50 using list comperhension

In [13]:
primes = [x for x in range(2, 51) if all(x % i != 0 for i in range(2, x))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 4 . CLASS (05QUE)

#### 16.Create a class Students with attribute name and marks, and a method to display details.

In [11]:
class Students:
    def __init__(self, name, marks):   # <-- double underscores on both sides
        self.name = name
        self.marks = marks

    def display(self):
        print("name:", self.name)
        print("marks:", self.marks)

s1 = Students("Piyush", 58)
s2 = Students("Darshan", 85)

s1.display()
s2.display()

name: Piyush
marks: 58
name: Darshan
marks: 85

#### 17. Create a class bankAccount with deposit and withdraw methods.

In [25]:
class BankAccount:
    def __init__(self, balance=0):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(amount, "amount will be credited new balance:", self.balance)

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(amount, "amount will be deposited new balance:", self.balance)
        else:
            print("sufficient balance will not avaiable your balance:", self.balance)

account1 = BankAccount(1000)
account1.deposit(500)
account1.withdraw(300)
account1.withdraw(1500)

500 amount will be credited new balance: 1500
300 amount will be deposited new balance: 1200
sufficient balance will not avaiable your balance: 1200

#### 18. Create a class circle With a method to calaculate area and Cirumfernace

In [30]:
import math

class circle:
    def __init__(self, radius):
        self.radius = radius 

    def area(self):
        return math.pi * self. radius
            
    def circumference(self):
           return 2 * math.pi * self.radius

c1 = circle(5) 


print("Area of circle:", c1.area())
print("Circumference of circle:", c1.circumference())

Area of circle: 15.707963267948966
Circumference of circle: 31.41592653589793

#### . 19 Create a class Employee that increasea salary by 10%

In [31]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def increase_salary(self):
        self.salary = self.salary * 1.10  # 10% increase
        print(f"Salary of {self.name} after 10% increase: {self.salary}")

    def display(self):
        print(f"Employee: {self.name}, Salary: {self.salary}")



emp1 = Employee("Piyush", 50000)
emp2 = Employee("Darshan", 60000)


emp1.display()
emp2.display()

emp1.increase_salary()
emp2.increase_salary()


emp1.display()
emp2.display()

Employee: Piyush, Salary: 50000
Employee: Darshan, Salary: 60000
Salary of Piyush after 10% increase: 55000.00000000001
Salary of Darshan after 10% increase: 66000.0
Employee: Piyush, Salary: 55000.00000000001
Employee: Darshan, Salary: 66000.0

#### 20. Create a Class Car with method to start,stop and display

In [3]:
class Car:
    def __init__(self, name):
        self.name = name
        self.status = "stopped"

    def start(self):
        if self.status == "running":
            print(f"{self.name} ")
        else:
            self.status = "running"
            print(f"{self.name} start")

    def stop(self):
        if self.status == "stopped":
            print(f"{self.name} ")
        else:
            self.status = "stopped"
            print(f"{self.name} stop ")

    def display(self):
        print(f"गाडी: {self.name} | Status: {self.status}")
        


my_car = Car("Tata Nexon")
my_car.display()
my_car.start()
my_car.display()
my_car.stop()
my_car.display()

गाडी: Tata Nexon | Status: stopped
Tata Nexon start
गाडी: Tata Nexon | Status: running
Tata Nexon stop
गाडी: Tata Nexon | Status: stopped

#### 05.Inheritance (05 QUE)

#### 21.Create a base class Animal and a derived class Dog that overrides a method.

In [8]:
#Base Class
class Animal:
    def sound(self):
        print("Animal make different sound")

#Derived Class
class Dog(Animal):
    def sound(self):   
        print("Dog barks: bhau bhao")


a = Animal()
a.sound()   

d = Dog()
d.sound()

Animal make different sound
Dog barks: bhau bhao

#### .22 Createa base Class Shape with method area().inherit Rectangle and Circle classes to inplement area calculation

In [18]:
import math

# Base Class
class Shape:
    def area(self):
        pass


class Rectangle(Shape):
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth

    def area(self):
        return self.length * self.breadth


class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius * self.radius



rect = Rectangle(10, 5)
print("Rectangle Area:", rect.area())

cir = Circle(7)
print("Circle Area:", cir.area())

Rectangle Area: 50
Circle Area: 153.93804002589985

#### 23. Create a Person Class and inherit Student and Teacher from it with additional attributes

In [1]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print("name:", self.name)
        print("age:", self.age)

class student(person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id

    def display(self):
        super().display()
        print("student id:", self.student_id)

class teacher(person):
    def __init__(self, name, age, subject):
        super().__init__(name, age)
        self.subject = subject

    def display(self):
        super().display()
        print("Subject:", self.subject)

s1 = student("Darshan", 21, "S20")
t1 = teacher("Meena", 35, "Mathematics")

print("Student Details:")
s1.display()

print("\nTeacher Details:")
t1.display()

Student Details:
name: Darshan
age: 21
student id: S20

Teacher Details:
name: Meena
age: 35
Subject: Mathematics

#### 24.create a vehicle class and inherit car bike with their specific feature

In [2]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display(self):
        print("Brand:", self.brand)
        print("Model:", self.model)

class Car(Vehicle):
    def __init__(self, brand, model, doors):
        super().__init__(brand, model)
        self.doors = doors

    def display(self):
        super().display()
        print("Number of Doors:", self.doors)

class Bike(Vehicle):
    def __init__(self, brand, model, engine_cc):
        super().__init__(brand, model)
        self.engine_cc = engine_cc

    def display(self):
        super().display()
        print("Engine Capacity:", self.engine_cc, "cc")

c1 = Car("Toyota", "Fortuner", 4)
b1 = Bike("Yamaha", "R15", 155)

print("Car Details:")
c1.display()

print("\nBike Details:")
b1.display()

Car Details:
Brand: Toyota
Model: Fortuner
Number of Doors: 4

Bike Details:
Brand: Yamaha
Model: R15
Engine Capacity: 155 cc

#### 25. Demonstrate multiple inheritance with astudentAthlete class (inheriting from student and Athlete)

In [3]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def show_student(self):
        print("Student Name:", self.name)
        print("Grade:", self.grade)


class Athlete:
    def __init__(self, sport, rank):
        self.sport = sport
        self.rank = rank

    def show_athlete(self):
        print("Sport:", self.sport)
        print("Rank:", self.rank)



class StudentAthlete(Student, Athlete):
    def __init__(self, name, grade, sport, rank):
        Student.__init__(self, name, grade)
        Athlete.__init__(self, sport, rank)

    def show_details(self):
        print("---- Student Athlete Details ----")
        self.show_student()
        self.show_athlete()



sa = StudentAthlete("Rahul", "A", "Cricket", 1)
sa.show_details()

---- Student Athlete Details ----
Student Name: Rahul
Grade: A
Sport: Cricket
Rank: 1

#### 06. POLYMORHISM (05 QUE)

#### 26. create two classes Cat and Dong with same method speak().demonstate polymorphism

In [4]:
class dog:
    def speak(self):
        return "Woof!"


class cat:
    def speak(self):
        return "Meow!"

def animal_sound(animal):
    print(animal.speak())

dog = dog()
cat = cat()

animal_sound(dog)
animal_sound(cat)

Woof!
Meow!

#### 27. Demonstrate opertor overloadind by implementing addition of two vector object

In [5]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return Complex(self.real + other.real, self.imag + other.imag)

    def __str__(self):
        return f"{self.real} + {self.imag}j"

c1 = Complex(11, 12)
c2 = Complex(19,20)

result = c1 + c2
print("Result:", result)

Result: 30 + 32j

#### 28. Demonstrate method overloading using default parameters

In [6]:
class MathOps:
    def add(self, a=0, b=0, c=0):
        return a + b + c

m = MathOps()

print("2 numbers of sum:", m.add(10,11))
print("3 numbers of sum:", m.add(12,20))
print("Default sum:", m.add())

2 numbers of sum: 21
3 numbers of sum: 32
Default sum: 0

#### 29.create a base class Shapes with draw() method and override it in derived class

In [1]:
class Shape:
    def draw(self):
        print("Drawing a Shape")


class Circle(Shape):
    def draw(self):
        print("Drawing a Circle")


class Rectangle(Shape):
    def draw(self):
        print("Drawing a Rectangle")


class Triangle(Shape):
    def draw(self):
        print("Drawing a Triangle")


s = Shape()
c = Circle()
r = Rectangle()
t = Triangle()


s.draw()
c.draw()
r.draw()
t.draw()

Drawing a Shape
Drawing a Circle
Drawing a Rectangle
Drawing a Triangle

#### 30.Demonstrate duck typing with classes having the same method name

In [4]:
class Dog:
    def speak(self):
        return "Bark!"

class Cat:
    def speak(self):
        return "Meow!"

class Cow:
    def speak(self):
        return "Moo!"

def animal_sound(animal):
    print(animal.speak())

d = Dog()
c = Cat()
cw = Cow()

animal_sound(d)
animal_sound(c)
animal_sound(cw)

Bark!
Meow!
Moo!

#### 07.ENCAPSULATION (05 QUE)

#### 31.Create a class Account with private balance attribute and provide method to deposit and withdraw.

In [5]:
class Account:
    def __init__(self, initial_balance = 0):
        self.__balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print("Amount Deposit Successfully")
        else:
            print("Invalid deposit Amount.")

    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount
            print("Amount withdraw Successfully.")
        else:
            print("Insufficient balance or invalid amount.")

    def get_balance(self):
        return self.__balance

acc = Account(1000)
acc.deposit(500)
print("Current Balance:", acc.get_balance())

acc.withdraw(300)
print("Current Balance:", acc.get_balance())

acc.withdraw(2000)
print("Current Balance:", acc.get_balance())

Amount Deposit Successfully
Current Balance: 1500
Amount withdraw Successfully.
Current Balance: 1200
Insufficient balance or invalid amount.
Current Balance: 1200

#### 32.Create a class with private attribute and use getter and setter mathod to access thrm

In [6]:
class Student:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age

    def get_name(self):
        return self.__name

    def set_name(self, name):
        if len(name) > 0:
            self.__name = name
            print("Name update successfully.")
        else:
            print("Invalid name.")

    def get_age(self):
        return self.__age

    def set_age(self, age):
        if age > 0:
            self.__age = age
            print("Age updated Successfully.")
        else:
            print("Invalid Age.")

s1 = Student("Darshan", 21)

print("Name:", s1.get_name())
print("Age:", s1.get_age())

s1.set_name("Piyush")
s1.set_age(22)

print("Name:", s1.get_name())
print("Age:", s1.get_age())

Name: Darshan
Age: 21
Name update successfully.
Age updated Successfully.
Name: Piyush
Age: 22

#### 33. Demonstrate name manging with privte variable

In [7]:
class Account:
    def __init__(self, balance):
        self.__balance = balance

    def show_balance(self):
        print("Balance:", self.__balance)

acc = Account(1000)

acc.show_balance()

print("Accessing with name mangling:", acc._Account__balance)

Balance: 1000
Accessing with name mangling: 1000

#### 34.Create a class bank with encapsulated method to show account detalis securely

In [8]:
class Bank:
    def __init__(self, name, balance):
        self.__name = name          # private attribute
        self.__balance = balance    # private attribute

    # getter method
    def get_balance(self):
        return self.__balance

    # setter method
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
        else:
            print("Invalid amount!")

    # setter method
    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient balance!")

# ---- using the class ----
acc = Bank("Darshan", 5000)

print("Current Balance:", acc.get_balance())

acc.deposit(1000)
print("After Deposit:", acc.get_balance())

acc.withdraw(2000)
print("After Withdrawal:", acc.get_balance())

Current Balance: 5000
After Deposit: 6000
After Withdrawal: 4000

#### 35. Demonstrate encapsulation by restring access to class atrributes

In [9]:
class Student:
    def __init__(self, name, marks):
        self.__name = name
        self.__marks = marks

    def get_details(self):
        print("Name:", self.__name)
        print("Marks:", self.__marks)

    def set_marks(self, new_marks):
        if 0 <= new_marks <= 100:
            self.__marks = new_marks
            print("Marks will be updated.")
        else:
            print("Invalid Marks! Must be between 0 and 100.")

s1 = Student("Darshan", 85)

s1.get_details()

Name: Darshan
Marks: 85
Marks will be updated.
Name: Darshan
Marks: 95

#### 08.DATETIME MODULES (05 QUE)

#### 36. Write a program to display the current date and time .

In [12]:
import datetime

current = datetime.datetime.now()

print("Current Date:", current.date())
print("Current Time:", current.time())

Current Date: 2025-10-08
Current Time: 14:08:34.020806

#### 37.Write a program to calculate a person's age from their date od birth

In [16]:
import datetime

dob_input = input("Enter your date of birth(YYYY-MM-DD): ")

dob = datetime.datetime.strptime(dob_input, "%Y-%m-%d").date()

today = datetime.date.today()

age = today.year - dob.year
if(today.month, today.day) < (dob.month, dob.day):
    age -= 1

print("Your age is:", age, "years")

Enter your date of birth(YYYY-MM-DD):  2004-09-10

Your age is: 21 years

#### 38. Write a program to find the differnce in day between two given dates

In [17]:
from datetime import datetime

d1 = input("First Date (YYYY-MM-DD): ")
d2 = input("Second Date (YYYY-MM-DD): ")

date1 = datetime.strptime(d1, "%Y-%m-%d")
date2 = datetime.strptime(d2, "%Y-%m-%d")

diff = abs((date2 - date1).days)
print("Difference of days:", diff)

First Date (YYYY-MM-DD):  2025-10-08
Second Date (YYYY-MM-DD):  2025-08-11

Difference of days: 58

#### 39.Write a program to print the date 30 days from today.

In [1]:
from datetime import date, timedelta

today = date.today()
future_date = today + timedelta(days=30)

print("Today Date:", today)
print("After 30 day of given date:", future_date)

Today Date: 2025-10-12
After 30 day of given date: 2025-11-11

#### 40.Write a program to format today's date as "DD/MM/YYYY" and "YYYY-MM-DD".

In [2]:
from datetime import date 

today = date.today()

format1 = today.strftime("%d/%m/%Y")
format2 = today.strftime("%Y-%m-%d")

print("Today Date (DD/MM/YYYY):", format1)
print("Today Date(YYYY-MM-DD):", format2)

Today Date (DD/MM/YYYY): 12/10/2025
Today Date(YYYY-MM-DD): 2025-10-12

#### 09.MATH MODULE  (05QUE)

#### 41.Write a program to calculate factorial using math.factorial().

In [3]:
import math

num = int(input("Enter the number: "))

result = math.factorial(num)

print("num", num, "Factorial is:", result)

Enter the number:  5

num 5 Factorial is: 120

#### 42.Write a program to find the greatest common divisor (GCD) of two numbers.

In [4]:
import math

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

gcd = math.gcd(a, b)

print("The GCD of", a, "and", b, "is:", gcd)

Enter first number:  45
Enter second number:  18

The GCD of 45 and 18 is: 9

#### 43.Write a program to calculate square root, power and logarithm using math module.

In [5]:
import math

num = float(input("Enter a number: "))

sqrt_val = math.sqrt(num)

power_val = math.pow(num, 2)

log_val = math.log(num)

print("Square root of", num, "is:", sqrt_val)
print(num, "raised to power 2 is:", power_val)
print("Natural logarithm of", num, "is:", log_val)

Enter a number:  45

Square root of 45.0 is: 6.708203932499369
45.0 raised to power 2 is: 2025.0
Natural logarithm of 45.0 is: 3.8066624897703196

#### 44.Write a program to generate random numbers between 1 and 100(using math and random).

In [6]:
import random
import math

rand_num = random.randint(1, 100)

print("Random number between 1 and 100 is:", rand_num)

Random number between 1 and 100 is: 28

#### 45.Write a program to convert radians to degrees and vice versa.

In [7]:
rad = float(input("Enter angle in radians: "))
deg_from_rad = math.degrees(rad)
print(rad, "radians =", deg_from_rad, "degrees" )

deg = float(input("Enter angle in degrees: "))
rad_from_deg = math.radians(deg)
print(deg, "degrees =", rad_from_deg, "radians" )

Enter angle in radians:  45

45.0 radians = 2578.3100780887044 degrees

Enter angle in degrees:  90

90.0 degrees = 1.5707963267948966 radians

#### 10.REGULAR EXPRESSIONX MODULE (05QUE)

#### 46.Write a regex to check if a string is a valid email address.

In [9]:
import re 

pattern = r'\w+@\w+\.\w+'

email = "darshan@gmail.com"

if re.fullmatch(pattern, email):
    print("Valid Email")
else:
        print("Invalid Email")

Valid Email

#### 47.Write a regex to extract all numbers from a string.

In [10]:
import re

text = "My age is 21 and my brother is 17. We bought 3 apples and 12 banana."

pattern = r'\d+'

numbers = re.findall(pattern, text)

print("Extracted Numbers:", numbers)

Extracted Numbers: ['21', '17', '3', '12']

#### 48.Write a regex to validate if a string is a valid Indian mobile number(10 digits).

In [11]:
import re

pattern = re.compile(r'^[6-9]\d{9}$')

numbers = [
    "8080125881",
    "9763958983",
    "9130052070",
    "7304180481",
    "8010714208"
]

for num in numbers:
    if pattern.fullmatch(num):
        print(num, "-> Valid Indian Mobile Number.")
    else:
        print(num, "-> Invalid Number.")

8080125881 -> Valid Indian Mobile Number.
9763958983 -> Valid Indian Mobile Number.
9130052070 -> Valid Indian Mobile Number.
7304180481 -> Valid Indian Mobile Number.
8010714208 -> Valid Indian Mobile Number.

#### 49.Write a regex to find all words starting with a capital letter in a sentence.

In [12]:
import re 

sentence = "My Name is Darshan and I Live in India."

pattern = r'\b[A-Z][a-zA-Z]*\b'

capital_words = re.findall(pattern, sentence)

print("Words starting with capital letters:", capital_words)

Words starting with capital letters: ['My', 'Name', 'Darshan', 'I', 'Live', 'India']

#### 50.Write a regex to replace all spaces in a string with a hyphen.

In [15]:
import re

text = "Hi! I am learning MBA til last 1 months."

new_text = re.sub(r"\s+", "-", text)
print(new_text)

Hi!-I-am-learning-MBA-til-last-1-months.

#### END!